<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://127.0.0.1:8080/static/js/tailwind.css.min.js"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8080/static/css/globals.css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/static/css/all.min.css" />
    <link rel="stylesheet" href="http://127.0.0.1:8080/static/css/fontawesome/all.css">
</head>
<body class="panel-bg">
    <section class="panel-bg h-full w-full flex flex-col relative">
        <div id="th-modal" style="background-color: rgb(0, 0, 0, 0.4); display: none"
            class="h-auto w-full fixed items-center justify-center">
            <div class="z-50 bg-white h-auto w-96">
                <div class="bg-white p-3 py-5 h-auto w-96 flex flex-col gap-4">
                    <div class="w-full flex items-center justify-between">
                        <h1>Post</h1>
                        <button id="close-th-btn" class="cursor-pointer">X</button>
                    </div>
                    <div class="flex flex-col gap-3">
                        <p>Title</p>
                        <input id="post-title" name="post-title"
                            class="w-full outline outline-gray-200 p-2 focus:outline-blue-400" type="text"
                            placeholder="Enter Title" />
                    </div>

                    <div class="flex flex-col gap-3">
                        <p>Description</p>
                        <input id="post-content" name="post-content"
                            class="w-full outline outline-gray-200 p-2 focus:outline-blue-400" type="text"
                            placeholder="Enter Description" />
                    </div>

                    <div class="flex">
                        <button id="create-post-btn" class="primary-button-design">
                            Reply
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <header class="header-bg h-auto w-full  duration-300 flex flex-col items-center gap-3 justify-between py-3">
            <div class="w-full">
                <div class="w-full flex items-center justify-between main-horizontal-padding">
                    <a href="/">
                        <img class="logo-img" src="http://localhost:8080/static/imgs/example-logo.png" />
                    </a>
                    <div class="flex items-center gap-3">
                        <a href="auth/signin" class="p-2 cursor-pointer text-white font-normal">
                            Existing user? Sign In
                        </a>
                        <a href="auth/signup" class="primary-button-design">Sign Up</a>
                    </div>
                </div>
                <div class="w-full flex items-center justify-between main-horizontal-padding">
                    <div class="flex items-center gap-4">
                        <a class="text-zinc-300 font-normal text-sm hover:text-white" href="/">Home</a>
                        <a class="text-zinc-300 font-normal text-sm hover:text-white" href="#">Events</a>
                        <a class="text-zinc-300 font-normal text-sm hover:text-white" href="#">Activity</a>
                        <a class="text-zinc-300 font-normal text-sm hover:text-white" href="#">Support</a>
                        <a class="text-zinc-300 font-normal text-sm hover:text-white" href="#">Boards</a>
                        <a class="text-zinc-300 font-normal text-sm hover:text-white" href="#">Extra</a>
                    </div>
                    <div>
                        <input name="search"
                            class="w-60 bg-white rounded-md text-black outline-none py-1 px-3 hidden sm:flex"
                            type="text" placeholder="Search .." />
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section>
        <div
            class="h-full main-horizontal-padding py-6 w-full panel-bg flex items-center justify-center flex flex-col gap-4">
            <div class="w-full flex flex-col gap-4">
                <div id="response-box"
                    class="hidden flex items-center justify-start bg-red-100 border border-red-700 p-3 w-full">
                    <h1 id="resnponse-msg" class="text-red-700">Error missing username</h1>
                </div>
                <div class="flex w-full justify-between gap-5 flex-col-reverse lg:flex-row">
                    <div class="flex flex-col w-full gap-4 bg-white py-5 material-box-shadow-thin">
                        <div class="px-5">
                            <h1 class="font-bold text-2xl">Sign In</h1>
                            <div>
                                <span class="text-zinc-500" href="/auth/login">login to your account</span>
                            </div>
                        </div>
                        <span class="h-[1px] bg-gray-300 w-full "></span>
                        <div class="flex flex-col w-full gap-4 px-5 ">
                            <input id="sginin-email" class="outline outline-gray-200 p-3 focus:outline-blue-400"
                                type="text" placeholder="Email Address ..." />
                            <input id="sginin-password" class="outline outline-gray-200 p-3 focus:outline-blue-400"
                                type="password" placeholder="Password ..." />
                            <div>
                                <button id="sginin-btn" class="primary-button-design">Sign In</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-[30%] h-full gap-4 bg-white py-5 material-box-shadow-thin">
                        <div class="px-5 ">
                            <h1 class="font-bold text-2xl">Sign Up</h1>
                            <div>
                                <span class="text-zinc-500" href="/auth/login">don't have account?</span>
                                <a class="text-blue-400" href="/auth/signup">sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="flex flex-col w-full items-center justify-center gap-3 py-5">
        <div class="flex gap-3">
            <a class="text-sm text-gray-700" href="#">Contact Us</a>
            <a class="text-sm text-gray-700" href="#">Privacy Policy</a>
            <a class="text-sm text-gray-700" href="#">About Us</a>
            <a class="text-sm text-gray-700" href="#">Code of Conduct</a>
            <a class="text-sm text-gray-700" href="#">TOS</a>
            <a class="text-sm text-gray-700" href="#">FTC</a>
        </div>
        <div>
            <p class="text-xs text-zinc-400">Powered by Invision Community</p>
        </div>
    </footer>
    <script src="http://localhost:8080/static/js/global.js"></script>
</body>

</html>