<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class=" bg-gray-200 h-screen w-full flex items-center justify-center">
        <form hx-post="/login" hx-target="#response" hx-swap="innerHTML">
            <div class="bg-gray-200 h-screen w-full flex items-center justify-center">
                <div class="bg-white p-3 py-5 h-auto w-96 flex flex-col gap-4">
                    <h1>Login</h1>
        
                    <div class="flex flex-col gap-3">
                        <p>Username</p>
                        <input name="username" class="w-full outline outline-gray-200 p-2 focus:outline-blue-400" type="text" placeholder="Enter Username" />
                    </div>
        
                    <div class="flex flex-col gap-3">
                        <p>Password</p>
                        <input name="password" class="w-full outline outline-gray-200 p-2 focus:outline-blue-400" type="password" placeholder="Enter Password" />
                    </div>
        
                    <div class="flex gap-3">
                        <input name="remember" type="checkbox" value="true" />
                        <label class="text-sm">remember me</label>
                    </div>
        
                    <div class="flex">
                        <button class="bg-black cursor-pointer text-white p-2 rounded-sm w-full" type="submit">Sign In</button>
                    </div>
        
                    <div id="response" class="text-red-500 text-sm "></div>
                </div>
            </div>
        </form>
        
    </div>

    <script>
        const btn = document.getElementById("btn")


        btn.addEventListener("click", () => {
            const pwd = document.getElementById("pwd")
            const usr = document.getElementById("usr")

            if (!usr.value) {
                alert("missing username")
            } else if (!pwd.value ) {
                alert("missing password")
            }


        })
    </script>
</body>
</html>