<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="http://127.0.0.1:8080/static/js/tailwind.css.min.js"></script>
    <link
      rel="stylesheet"
      href="http://127.0.0.1:8080/static/css/globals.css"
    />
    <link
      rel="stylesheet"
      href="http://127.0.0.1:8080/static/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="http://127.0.0.1:8080/static/css/fontawesome/all.css"
    />
  </head>
  <style></style>

  <body class="panel-bg">
    <section class="panel-bg h-auto w-full flex flex-col relative">
      <div
        id="th-modal"
        style="background-color: rgb(0, 0, 0, 0.4); display: none"
        class="h-screen w-full fixed items-center justify-center"
      >
        <div class="z-50 bg-white h-auto w-96">
          <div class="bg-white p-3 py-5 h-auto w-96 flex flex-col gap-4">
            <div class="w-full flex items-center justify-between">
              <h1>Post</h1>
              <button id="close-th-btn" class="cursor-pointer">&#x2715;</button>
            </div>
            <div class="flex flex-col gap-3">
              <p>Title</p>
              <input
                id="post-title"
                name="post-title"
                class="w-full outline outline-gray-200 p-2 focus:outline-blue-400"
                type="text"
                placeholder="Enter Title"
              />
            </div>

            <div class="flex flex-col gap-3">
              <p>Description</p>
              <input
                id="post-content"
                name="post-content"
                class="w-full outline outline-gray-200 p-2 focus:outline-blue-400"
                type="text"
                placeholder="Enter Description"
              />
            </div>

            <div class="flex">
              <button id="create-post-btn" class="primary-button-design w-full">
                Reply
              </button>
            </div>
          </div>
        </div>
      </div>
      <header
        class="header-bg h-auto w-full duration-300 flex flex-col items-center gap-3 justify-between py-3"
      >
        <div class="w-full">
          <div
            class="w-full flex items-center justify-between main-horizontal-padding"
          >
            <a href="/">
              <img
                class="logo-img"
                src="http://localhost:8080/static/imgs/example-logo.png"
              />
            </a>

            {{ if .IsAuth }}
            <div class="flex items-center gap-3">
              <h1 class="text-white">welcome user</h1>
              <h1 class="text-white">{{ .Member.UserName }}</h1>
              <form method="post" action="/auth/session_logout">
                <button class="primary-button-design" type="submit">
                  Log Out
                </button>
              </form>
            </div>
            {{ else }}
            <div class="flex items-center gap-3">
              <a
                href="auth/signin"
                class="p-2 cursor-pointer text-white font-normal"
              >
                Existing user? Sign In
              </a>
              <a href="auth/signup" class="primary-button-design">Sign Up</a>
            </div>
            {{ end }}
          </div>
          <div
            class="w-full flex items-center justify-between main-horizontal-padding"
          >
            <div class="flex items-center gap-4">
              <a
                class="text-zinc-300 font-normal text-sm hover:text-white"
                href="/"
                >Home</a
              >
              <a
                class="text-zinc-300 font-normal text-sm hover:text-white"
                href="#"
                >Events</a
              >
              <a
                class="text-zinc-300 font-normal text-sm hover:text-white"
                href="#"
                >Activity</a
              >
              <a
                class="text-zinc-300 font-normal text-sm hover:text-white"
                href="#"
                >Support</a
              >
              <a
                class="text-zinc-300 font-normal text-sm hover:text-white"
                href="#"
                >Boards</a
              >
              <a
                class="text-zinc-300 font-normal text-sm hover:text-white"
                href="#"
                >Extra</a
              >
            </div>
            <div>
              <input
                name="search"
                class="w-60 bg-white rounded-md text-black outline-none py-1 px-3 hidden sm:flex"
                type="text"
                placeholder="Search .."
              />
            </div>
          </div>
        </div>
      </header>
    </section>

    <section class="main-horizontal-padding py-4 flex flex-col gap-4">
      <div
        class="bg-white p-3 material-box-shadow-thin flex items-start justify-center flex-col rounded-sm"
      >
        <h1 class="text-2xl font-semibold text-xl text-gray-800">
          Web Designer Forum News
        </h1>
        <p class="text-gray-600 text-sm text-zinc-500">
          News from the world of design & development inc other exciting events.
        </p>
      </div>
      <div class="flex flex-col rounded-sm">
        {{ range .Threads }}
        <div
          class="flex items-center w-full bg-white justify-between py-4 px-4 material-box-shadow-thin border-b border-b-zinc-200"
        >
          <div class="flex flex-col gap-2">
            <div class="flex w-full items-center gap-4">
              <div
                style="border-radius: 50%"
                class="bg-neutral-200 p-2 flex items-center justify-center"
              >
                <i class="fa fa-comments text-white text-xs"></i>
              </div>
              <div class="flex flex-col gap-1 w-full">
                <a href="/thread/{{ .SafeUrl }}" class="text-violet-600">
                  {{ .ThreadTitle }}
                </a>
                <p class="text-gray-500 text-sm">
                  By {{ .Member.UserName }}, {{ .CreatedAtSince }}
                </p>
              </div>
            </div>
          </div>
          <div class="flex items-center gap-10">
            <div class="flex flex-col gap-1">
              <div>
                <i class="fa-solid fa-reply text-xs text-zinc-500"></i>
                <span class="text-zinc-500 text-xs">6 replies</span>
              </div>
              <div>
                <i class="fa-solid fa-eye text-xs text-zinc-500"></i>
                <span class="text-zinc-500 text-xs">1.4K views</span>
              </div>
            </div>
            <div class="flex items-center gap-2">
              <span
                class="h-10 w-10 bg-orange-400 flex items-center justify-center text-white font-bold rounded-full"
              >
                A
              </span>
              <div class="flex flex-col gap-1">
                <span class="text-black text-sm">{{ .Member.UserName }}</span>
                <span class="text-zinc-500 text-xs">{{ .CreatedAtSince }}</span>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </section>

    <footer class="flex flex-col w-full items-center justify-center gap-3 py-5">
      <div class="flex gap-3">
        <a class="text-sm text-gray-700" href="#">Contact Us</a>
        <a class="text-sm text-gray-700" href="#">Privacy Policy</a>
        <a class="text-sm text-gray-700" href="#">About Us</a>
        <a class="text-sm text-gray-700" href="#">Code of Conduct</a>
        <a class="text-sm text-gray-700" href="#">TOS</a>
        <a class="text-sm text-gray-700" href="#">FTC</a>
      </div>
      <div class="flex items-center gap-1">
      <p class="text-xs text-zinc-400">Forum v0.1.1 Powered by</p>
        <a
          target="_blank"
          class="hover:underline text-xs text-violet-600"
          href="https://github.com/omkero"
          >omkero</a
        >
      </div>
    </footer>

    <script src="http://localhost:8080/static/js/global.js"></script>
  </body>
</html>
